<div class="container header-people">
  <div class="row  align-content-center">
    <div class="col-1 align-content-center mt-2 pt-2">
      <a routerLink="/people/student"> <mat-icon style="font-size:2vw;">arrow_back</mat-icon></a>
    </div>
    <div class="col-10 text-center mt-2">
      <h1>{{batchName}}</h1>
    </div>
  </div>

  <ul class="nav justify-content-center " id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="b1-tab" data-toggle="tab" href="#b1" role="tab" aria-controls="b1">Batch 2016</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" id="b2-tab" data-toggle="tab" href="#b2" role="tab" aria-controls="b2" href="#">Batch
        2017</a>
    </li>
  </ul>


</div>

<!-- header section ends here -->


<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="b1" role="tabpanel" aria-labelledby="b1-tab">

    <!-- batch 1 details starts here -->
    <div class="container">
      <div class="row">
        <div class="col m-0 p-0 mt-4">
          <img [src]="batchImage" class="img-fluid hero" alt="Responsive image">
        </div>
      </div>
    </div>




    <div class="container">
      <div class="row ">
        <div class="col">
          <br>
          <h3 style="text-align:center;">Students</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 col-md-3 col-lg-2 profile-card " data-toggle="modal" data-target="#exampleModal">

          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>

        </div>

        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
      </div>

    </div>

    <!-- batch 1 details ends here -->




  </div>
  <div class="tab-pane fade" id="b2" role="tabpanel" aria-labelledby="b2-tab">

    <!-- batch 2 details starts here -->

    <div class="container">
      <div class="row">
        <div class="col">
          <img src="https://www.iitg.ac.in/design/images/M.Des_2017.jpg" class="img-fluid hero" alt="Responsive image">
        </div>
      </div>
    </div>




    <div class="container">
      <div class="row ">
        <div class="col">
          <br>
          <h3 style="text-align:center;">Students</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 col-md-3 col-lg-2 profile-card " data-toggle="modal" data-target="#exampleModal">

          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>

        </div>

        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
        <div class="col-6 col-md-3 col-lg-2 profile-card">
          <img src="../img/suraj.png" class="img-fluid" alt="Responsive image" />
          <p>Avinash Sharma</p>
          <small>UX, Animation</small>
        </div>
      </div>

    </div>



    <!-- batch 2 details ends here -->


  </div>

</div>



<!-- main content starts       -->

<div class="container d-none">
  <div class="row">
    <div class="col">
      <h1>M.Des</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>BAtch 2018-2019</h3>
    </div>
  </div>
</div>