   <!-- header sections starts here -->

   <div class="container-fluid header-people pt-4 bg-grey animated fadeIn">
    <div class="row justify-content-center align-content-center  pb-2">
        <div class="col-2 mt-2 text-right invisible">
                <a href="../people.html" > <mat-icon style="font-size:2vw;">arrow_back</mat-icon></a>
        </div>
        <div class="col-8 text-center">
            <h1>Work</h1>
        </div>
        <div class="col-2 mt-2  text-left invisible">
                <a href="../people.html"> <mat-icon style="font-size:2vw;">arrow_back</mat-icon></a>
        </div>
    </div>
    
    <ul class="nav justify-content-center pb-2" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab-projects" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="tab-publications" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2">Publications</a>
            </li>
    </ul>

</div>

<!-- header section ends here -->


<!-- tab content starts -->

<div class="tab-content" id="myTabContent">
    <!-- project tab content -->
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
            <div class="container pb-4 animated fadeIn">
                    <div class="row">
                            <div class="dropdown d-lg-none col-sm-12">
                                    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Highlights
                                    </a>
                                  
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                      <a class="dropdown-item" href="#">Recent</a>
                                      <a class="dropdown-item" href="#">Ongoing</a>
                                      <a class="dropdown-item" href="#">Completed</a>
                                    </div>
                            </div>
                        <!-- side nav -->
                        <div class="col-lg-2 col-sm-12 pt-4 ">
                                <ul class="nav flex-column ">
                                        <li class="nav-item">
                                                <a class="nav-link active" href="#">Highlights</a>
                                              </li>
                                        <li class="nav-item">
                                          <a class="nav-link text-dark" href="#">Recent</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link text-dark" href="#">Ongoing</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link text-dark" href="#">Completed</a>
                                        </li>
                                        <li class="nav-item d-none">
                                               
                                                <div class="dropdown  col-sm-12">
                                                        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                          Highlights
                                                        </a>
                                                      
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                          <a class="dropdown-item" href="#">Recent</a>
                                                          <a class="dropdown-item" href="#">Ongoing</a>
                                                          <a class="dropdown-item" href="#">Completed</a>
                                                        </div>
                                                </div>
        
                                              </li>
                                        
                                </ul>
        
                                
        
                        </div>
        
                        <!-- content -->
        
                        <div class="col-lg-10 col-sm-12">
        
        
                                <div class="row">
        
                                        <div class="col-6 mt-4">
                                                <div class="card" >
                                                        <div class="card-body">
                                                                <img src="../assets/img/HomePage_Slide8.jpg" class="card-img-top" alt="...">
                                                          <h5 class="card-title">O-The story</h5>
                                                          <h6 class="card-subtitle mb-2 text-muted">An Animation Short Film</h6>
                                                          <p class="card-text">A short film made on the story of alphabetical characters</p>
                                                          <span class="badge badge-pill badge-light pb-2">Interaction Design</span>  <span class="badge badge-pill badge-light">UX</span><br>
                                                         
                                                         
                                                        </div>
                                                      </div>
                                        </div>
        
                                        <div class="col-6 mt-4">
                                                <div class="card" >
                                                        <div class="card-body">
                                                                <img src="../assets/img/HomePage_Slide8.jpg" class="card-img-top" alt="...">
                                                          <h5 class="card-title">O-The story</h5>
                                                          <h6 class="card-subtitle mb-2 text-muted">An Animation Short Film</h6>
                                                          <p class="card-text">A short film made on the story of alphabetical characters</p>
                                                          <span class="badge badge-pill badge-light pb-2">Interaction Design</span>  <span class="badge badge-pill badge-light">UX</span><br>
                                                         
                                                         
                                                        </div>
                                                      </div>
                                        </div>
                                        <div class="col-6 mt-4">
                                                <div class="card" >
                                                        <div class="card-body">
                                                                <img src="../assets/img/HomePage_Slide8.jpg" class="card-img-top" alt="...">
                                                          <h5 class="card-title">O-The story</h5>
                                                          <h6 class="card-subtitle mb-2 text-muted">An Animation Short Film</h6>
                                                          <p class="card-text">A short film made on the story of alphabetical characters</p>
                                                          <span class="badge badge-pill badge-light pb-2">Interaction Design</span>  <span class="badge badge-pill badge-light">UX</span><br>
                                                         
                                                         
                                                        </div>
                                                      </div>
                                        </div>
        
                                        <div class="col-6 mt-4">
                                                <div class="card" >
                                                        <div class="card-body">
                                                                <img src="../assets/img/HomePage_Slide8.jpg" class="card-img-top" alt="...">
                                                          <h5 class="card-title">O-The story</h5>
                                                          <h6 class="card-subtitle mb-2 text-muted">An Animation Short Film</h6>
                                                          <p class="card-text">A short film made on the story of alphabetical characters</p>
                                                          <span class="badge badge-pill badge-light pb-2">Interaction Design</span>  <span class="badge badge-pill badge-light">UX</span><br>
                                                         
                                                         
                                                        </div>
                                                      </div>
                                        </div>
                                       
                        
                                    </div>
                             
        
                        </div>
        
                    </div>
                </div>
        </div>


        <!-- publication tab content -->
        <div class="tab-pane fade show" id="tab2" role="tabpanel" aria-labelledby="tab2">
                <div class="container pb-4 animated fadeIn">

                        <div class="row">
                                <div class="dropdown d-lg-none col-sm-12">
                                        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Highlights
                                        </a>
                                      
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                          <a class="dropdown-item" href="#">Recent</a>
                                          <a class="dropdown-item" href="#">Ongoing</a>
                                          <a class="dropdown-item" href="#">Completed</a>
                                        </div>
                                </div>
                            <!-- side nav -->
                            <div class="col-lg-2 col-sm-12 pt-4 ">
                                    <ul class="nav flex-column  ">
                                            <li class="nav-item">
                                                    <a class="nav-link active " href="#">Highlights</a>
                                                  </li>
                                            <li class="nav-item">
                                              <a class="nav-link text-dark" href="#">Recent</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link text-dark" href="#">Ongoing</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link text-dark" href="#">Completed</a>
                                            </li>
                                            <li class="nav-item d-none">
                                                   
                                                    <div class="dropdown  col-sm-12">
                                                            <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                              Highlights
                                                            </a>
                                                          
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                              <a class="dropdown-item" href="#">Recent</a>
                                                              <a class="dropdown-item" href="#">Ongoing</a>
                                                              <a class="dropdown-item" href="#">Completed</a>
                                                            </div>
                                                    </div>
            
                                                  </li>
                                            
                                    </ul>
            
                                    
            
                            </div>
            
                            <!-- content -->
            
                            <div class="col-lg-8 col-sm-12">
            
            
                                    <div class="row">
            
                                            <div class="col-12 mt-4">
                                                    <div class="card" >
                                                            <div class="card-body">
                                                                   
                                                              <h6 class="card-title">O-The story</h6>
                                                              
                                                                <div class="small">

                                                                </div>

                                                              <span class="badge badge-pill badge-light pb-2">23 Feb 2019</span> 
                                                             
                                                            </div>
                                                          </div>
                                            </div>
            

                                           
                            
                                        </div>
                                 
            
                            </div>
            
                        </div>
                    </div>
                        

        </div>


</div>





<!-- tab content ends -->
