<div class="colorline"></div>


        <div class="container">
                <br>
                <div class="row">
                        <div class="col-12">
                            <div class="intro">
                                <h1 class="text-center" [@openClose]="isOpen ? 'open' : 'closed'">About Department Of Design</h1>
                                <br>
                                <img class="img-fluid" style="border-radius:1vw;" src="https://www.iitg.ac.in/design/images/HomePage_Slide1%20copy.jpg"></div>
                        </div>
                </div>
                <br>
                <br>

                <div class="row">
                        <div class="col-lg-2 col-md-1">
                            
                        </div>

                        <div class="col-1"></div>
                        <div class="col-lg-6 col-md-8">
                            <div class="text">
                                <p>The Department of Design(DoD), one of the thirteen departments at IIT Guwahati, was set up with a vision to enkindle some of the brightest technical minds of the country a passion for innovation in technology driven by a firm understanding, appreciation and celebration of design.</p>
                                
                               
                                <br>
                                    <h3>Background</h3>

                                <p>The department offers a B.Des. degree - the only undergraduate level degree of its kind in an Indian Institute of Technology, M.Des degree and a PhD degree in Design. 
                                    <br><br>
                                    The focus of the program is on the study, invention, and creative use of technologies to create effective, usable, enjoyable experiences with technology through interdisciplinary research in engineering, design, behavioral and social sciences, and to understand the impact of technology on individuals, groups, and organizations. 
                                    <br><br>
                                    The department envisions to produce successful graduates who will be capable of leading the changing scenarios of today and tomorrow through thought, innovation and values.</p>
                                <br>
                                <h3>Location</h3>
                                <p>The institute is situated in North Guwahati, Assam, on the north bank of the river Brahmaputra amidst breathtaking natural beauty and serenity. The full fledged campus sprawls over 285 hectares of gently undulating terrain with several hillocks covered with lush green vegetation, a few lakes and a panoramic view of the mighty river on one side and a ring of blue hills on the other. 
                                    <br><br>
                                    The Institute is conveniently accessible from all the transport hubs in the Guwahati city. It is with great pleasure that i introduce to you our students, from Bachelor's and Master's Degree in Design at Department of Design (DoD), IIT Guwahati. </p>
                                
                                <p>The Department of Design prepares students for their future contributions to technology, industry and society. The department is led by a team of committed faculty handpicked from various disciplines with a wealth of experience both in research and in industry. The curriculum is well defined and reflects the multidisciplinary nature of design.</p>

                                <p>On behalf of the department, i welcome you at the IIT Guwahati campus. I am looking forward to your presence and contribution in shaping the future career of our students.</p>
                                
                                
                                
                               
                            </div>
                            <div class="row">
                                    <div class="col-auto">
                                        <div class="img-fluid">
                                            <img class="img-profile" src="https://www.iitg.ac.in/design/upload/images/faculties/UK.png" alt="">
                                        </div>
                                        <br>
                                        
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col">
                                                <h6 >Dr. D. Uday Kumar</h6>
                                                <p >Head Of Department</p>      
                                        </div>
                                            
                                    </div>
                            </div>

                            <br>
                            <br>

                        </div>
                        
                    </div>

        </div>
