.img, #carouselExampleFade{
    width: 100%;
    object-fit: cover;
}


/*mobile*/
@media (max-width:22.500em)
{
      #carouselExampleFade img{
        object-fit: cover;
        height: 360px;
    }

    .img-car{
         object-fit: cover;
        height: 360px;
    }
    
    
.highlight img{
    width: 100%;
    object-fit: cover;
    height: 360px;
}
}

@media (min-width:22.5em) and (max-width:35em)
{
      #carouselExampleFade img{
        object-fit: cover;
        height: 420px;
    }
    
    .highlight img{
        width: 100%;
        object-fit: cover;
        height: 420px;
    }

    .img-car{
        object-fit: cover;
       height: 420px;
   }
   
}

/*tablet and mid size screens*/
@media (min-width:35em) and (max-width:60em)
{
      #carouselExampleFade img{
        object-fit: cover;
        height: 480px;
    }
    
    .highlight img{
        width: 100%;
        object-fit: cover;
        height: 480px;
    }

    .img-car{
        object-fit: cover;
       height: 480px;
   }
   
}

/*desktop and above */
@media (min-width:60em)
{
    .pad-5{
    padding: 5%;
    }   

    .pad-2{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
        padding-top:2%;
    }
    
    #carouselExampleFade img{
        object-fit: cover;
        height: 540px;
    }
    
    .highlight img{
        width: 100%;
        object-fit: cover;
        height: 540px;
    }

    .img-car{
        object-fit: cover;
       height: 540px;
   }
   
}

.subhead{
    font-family: Lato;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 20px;
letter-spacing: 0.15px;

color: #4A8F7E;
}

.highlight{
    position: relative;
}

.highlight .intro{
    position: absolute;
    
    top: 40%;
        left:10%;
}


.highlight-text {
    background-color: rgba(255,255,255,0.9);
    padding: 1%;
}



.btn-primary {
    color: #fff;
    background-color: #31B489;
    border-color: #31B489;
}

.btn-primary:hover {
    color: #fff;
    background-color:#4A8F7E;
    border-color: #4A8F7E;
}

primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
   background-color:#4A8F7E;
    border-color: #4A8F7E;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
}

#html{
    background-attachment: fixed;
}







.carousel{

}


@media (max-width: 992px) {
    .footer-name {
        padding-left: 1em;
    }

    .footer-address{
        padding-left: em;
    }
}

@media (max-width:540px)
{
    .highlight .intro{
        
        margin:auto;
        top: 0;
            left:0;
    }
    
    
}
.navbar{
   height:3vw;
    border-bottom:3px solid gray;
    border-radius:0 0 3vw 3vw;
    box-shadow:0 p.1x 15px 0.1px gray;
    
    margin-bottom:2vw;

}