<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" [@openClose]="isOpen ? 'open' : 'closed'">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">
            <img src="../assets/img/iitg_logo.png.png" width="30" height="30" alt="">

        </a>
        <a class="navbar-brand full-logo" routerLink="/home">
            <span class="dod">DOD</span>
        </a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  justify-content-center" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-center">
                <li class="nav-item dod-logo">
                    <a class="nav-link active" routerLink="/home">Home</a>
                </li>

                <li class="nav-item dod-logo">
                    <a class="nav-link " routerLink="/work">Work</a>
                </li>

                <li class="nav-item dod-logo">
                    <a class="nav-link " routerLink="/people">People</a>
                </li>

                <li class="nav-item dod-logo">
                    <a class="nav-link " routerLink="/news">News & Events</a>
                </li>

                <li class="nav-item dod-logo">
                    <a class="nav-link " routerLink="/academics">Academics</a>
                </li>

                <li class="nav-item dod-logo">
                    <a class="nav-link " routerLink="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<footer>
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-sm-12">
                <div class="row">

                    <h3 class="footer-name col-12">DEPARTMENT<br>OF<br>DESIGN</h3>
                    <h6 class="footer-address col-12">Guwahati 781039 Assam, India</h6>
                </div>
            </div>

            <div class="col-lg-9 col-sm-12">
                <br class=".d-lg-none .d-xl-block ">
                <div class="row">
                    <div class="col-6 col-lg-2 col-md-3 footer-cont">
                        <ul>
                            <li><a href="#" class="footer-link-head">PEOPLE</a></li>
                            <li><a href="#" class="footer-link-link">Students</a></li>
                            <li><a href="#" class="footer-link-link">Faculty</a></li>
                            <li><a href="#" class="footer-link-link">Almuni</a></li>
                            <li><a href="#" class="footer-link-link">Staff</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-lg-2 col-md-3 footer-cont">
                        <ul>
                            <li><a href="#" class="footer-link-head">WORK</a></li>
                            <li><a href="#" class="footer-link-link">Projects</a></li>
                            <li><a href="#" class="footer-link-link">Publications</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-lg-2 col-md-3 footer-cont">
                        <ul>
                            <li><a href="#" class="footer-link-head">EVENTS</a></li>
                            <li><a href="#" class="footer-link-link">News & Notices</a></li>
                            <li><a href="#" class="footer-link-link">Exhibitions</a></li>
                            <li><a href="#" class="footer-link-link">Workshops</a></li>
                            <li><a href="#" class="footer-link-link">Design Meet</a></li>

                        </ul>
                    </div>
                    <div class="col-6 col-lg-2 col-md-3 footer-cont">
                        <ul>
                            <li><a href="#" class="footer-link-head">ACADEMICS</a></li>
                            <li><a href="#" class="footer-link-link">Programmes</a></li>
                            <li><a href="#" class="footer-link-link">Labs</a></li>
                            <li><a href="#" class="footer-link-link">Workshops</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2 col-md-3 footer-cont">
                        <ul>
                            <li><a href="#" class="footer-link-head">ADMISSIONS</a></li>
                            <li><a href="#" class="footer-link-link">B.Des</a></li>
                            <li><a href="#" class="footer-link-link">M.Des</a></li>
                            <li><a href="#" class="footer-link-link">Ph.D</a></li>
                            <li><a href="#" class="footer-link-link">Project Staff</a></li>
                        </ul>
                    </div>
                </div>

            </div>


        </div>
        <div class="row">
            <div class="col">

                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Career</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>

                </ul>
            </div>

        </div>

        <br>
    </div>

</footer>