
<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div class="container mt-3 mb-4 animated fadeIn">
  <div class="row">

          <div class="col-lg-2 col-sm-12 pt-4 d-none d-lg-block">
                  <ul class="nav flex-column ">
                      <li class="nav-item">
                          <a class="nav-link active" href="#">Current</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Visting</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Previous</a>
                      </li>
                     
  
  
                  </ul>
              </div>
              <div class="col-sm-12 d-lg-none text-center">
                  <div class="dropdown">
                      <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          Current
                      </a>
  
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Visiting</a>
                          <a class="dropdown-item" href="#">Previous</a>
                         
                      </div>
                  </div>
  
  
              </div>
      <div class="col-12 col-lg-10">
              <ul class="list-group list-group-flush">


                      <li class="list-group-item" *ngFor="let person of gotFaculty">
                          
                                  <img class="img-profile" src="{{person.imgurl}}"
                                      alt="">
                             
                     
                                  <h5>{{person.fName}}</h5>
                                  <div class="">{{person.designation}}</div>
                                  <div class="small mt-1  text-info">Interest Areas</div>
                                  <div class="small">{{person.interest}}</div>
                                  <div class="small mt-1  text-info">Contact</div>
                                  <div class="small"><span>{{person.email}}</span><br/> phone number:<span>{{person.phone}}</span></div>
                                  <a href="#">
                                      <div class="small mt-1  text-info"><b>{{person.website}}</b> </div>
                                  </a>
  
                        
                      </li>
  
                  
                      
                  </ul>
      </div>
  </div>
      
</div>