
<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div class="container animated fadeIn">

  <div class="row">
    <div class="col-lg-6 col-sm-12" *ngFor="let batchs of batches">
      <!-- <a (click)="onBatchSelect(batch.imgurl,batch.name)" style="cursor:pointer;"> -->
      <a [routerLink]="['/batch',batchs.name]" style="cursor:pointer;">
        <div class="photo-card">
          <div id="batch_pic" class="photo-background"></div>
          <div class="photo-details">
            <h2 id="batch_name">{{batchs.name}}</h2>
          </div>
        </div>
      </a>
    </div>




  </div>
</div>