<!-- header sections starts here -->
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="container-fluid header-people animated fadeIn">
    <div class="row justify-content-center align-content-center">
        <div class="col text-center">
            <h1>People</h1>
        </div>
    </div>

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link text-dark link1 animated fadeInUp" routerLink="/people/student" routerLinkActive="activeLink">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark link2 animated fadeInUp" routerLink="/people/faculty" routerLinkActive="activeLink">Faculty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark link3 animated fadeInUp" routerLink="/people/staff" routerLinkActive="activeLink">Staff</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark link4 animated fadeInUp" routerLink="/people/alumni" routerLinkActive="activeLink">Alumni</a>
        </li>

    </ul>
</div>

<!-- header section ends here -->

<router-outlet></router-outlet>